<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Rings</title>
    <script src="./res/index.js" defer></script>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="./res/styles.css">
    <style>
        @import url('https://fonts.googleapis.com/css2?family=Varela+Round&display=swap');
    </style>
</head>
<body>
        <!-- <div class="ringDiv">
            <div class="ringDivImg">
                <img src='https://images.gabrielny.com/assets/Gabriel-14K-Yellow-Gold-Round-Bezel-Set-Diamond-Engagement-Ring~ER16526R8Y4JJJ-1.jpg'>
            </div>
            <div class="ringDivContent">
                <p class="desc">14K Yellow Gold Round Bezel Set Diamond Engagement Ring</p>
                <p class="sku">ER16526R8Y4JJJ</p>
                <p class="price">$995</p>
                <p class="retail">Retail</p>
                <div class="ringDivButtons">
                    <div class="buttonDiv"><button class="btn">Matching Brands</button></div>
                    <div class="buttonDiv"><button class="btn">Add to Wholesale Cart</button></div>
                </div>
                <div class="ringDivFooter">
                    <a href="#">Metals</a>
                    <img src="./res/heart.svg" width="15px">
                </div>
            </div>
        </div>
     -->

     <!-- <div class="container">
        <div class="row">
            <div class="col-3">
                dfasf
            </div>
        </div>
     </div> -->

</body>
</html>